---
import {Icon} from "astro-icon";
---

<div class="w-full justify-end flex">
    <button  x-data="{}" @click="gsap.to(window, {duration: 1, scrollTo: 0})">
      <Icon name="ph:arrow-line-down" class="w-7 rotate-180"></Icon>
    </button>
</div>