---
const year = new Date().getFullYear();
---
<footer>
    <div class="p-container flex justify-between mt-16 text-sm">
        © Copyright {year} Yasaman Moussavi. All Rights Reserved

        <p class="inline-flex text-xs items-center gap-x-2">
            Follow me on <a href="https://www.instagram.com/yasi_moussavi/"> <span class="i-fe-instagram text-xl"/>
            <span class="sr-only">instagram</span></a>
        </p>
    </div>
</footer>