---
const pathname = new URL(Astro.request.url).pathname;
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<div class="relative w-full z-50 flex gap-8 items-center py-4 sticky top-0 container mx-auto px-4 flex justify-between">
    <button id="menu-action-button">
        <ul>
            <li class="w-7 h-[3px] my-2 rounded-full bg-black"></li>
            <li class="w-7 h-[3px] my-2 rounded-full bg-black"></li>
            <li class="w-7 h-[3px] my-2 rounded-full bg-black"></li>
        </ul>
    </button>
    <ThemeToggle />
</div>
<div
        id="overlay"
        class="fixed top-0 -translate-x-full left-0 w-full h-full pointer-events-none z-40 bg-neutral-800"
>
    <nav
            id="overlay-nav"
            class="container flex flex-col gap-5 w-full mx-auto p-5 mt-[200px]"
    >
        <hr class="scale-x-0 bg-white" />
        {
            [
                { label: "About", href: "/" },
                { label: "Portfolio", href: "/design" },
                { label: "Testimonial", href: "/development" },
            ].map((link) => (
                    <>
                        <a
                                class="text-3xl opacity-0 -translate-x-10 font-bold text-white"
                                href={link.href}
                        >
                            {link.label}
                        </a>
                        <hr class="scale-x-0 bg-white" />
                    </>
            ))
        }
    </nav>
</div>

<script>
    import { gsap } from "gsap";
    import { TextPlugin } from "gsap/TextPlugin";
    gsap.registerPlugin(TextPlugin);

    const getButton = () => document.getElementById("menu-action-button");

    function initHamburger() {
        const menuActionButton = getButton();
        const tl = gsap.timeline({ paused: true });
        tl.to(
            "#overlay",
            {
                duration: 1,
                translateX: 0,
                ease: "expo.inOut",
            },
            0
        )
            .to(
                "#overlay-nav hr ",
                {
                    duration: 1,
                    delay: 0.5,
                    transformOrigin: "left",
                    scaleX: 1,
                    stagger: 0.2,
                },
                0
            )
            .to(
                "#overlay-nav a",
                {
                    duration: 0.5,
                    delay: 0.7,
                    opacity: 1,
                    translateX: 0,
                    stagger: 0.3,
                },
                0
            )
            .to(
                "#menu-action-button ul li:nth-child(1)",
                {
                    duration: 1,
                    rotate: "225deg",
                    y: 12,
                    backgroundColor: "white",
                    ease: "expo.inOut",
                },
                0
            )
            .to(
                "#menu-action-button ul li:nth-child(2)",
                {
                    duration: 1,
                    rotate: "180deg",
                    scale: 0,
                    backgroundColor: "white",
                    ease: "expo.inOut",
                },
                0
            )
            .to(
                "#menu-action-button ul li:nth-child(3)",
                {
                    duration: 1,
                    rotate: "315deg",
                    y: -10,
                    backgroundColor: "white",
                    ease: "expo.inOut",
                },
                0
            );
        tl.reverse();
        menuActionButton?.addEventListener("click", () => {
            tl.reversed(!tl.reversed());
        });
        return () =>
            menuActionButton?.removeEventListener("click", () => tl.reversed(!tl.reversed()));
    }

    initHamburger();

    document.addEventListener("astro:after-swap", () => {
        if (!getButton()) return;
        initHamburger();
    });
</script>