---
import { Icon } from "astro-icon";
---

<button
  x-on:click="darkMode = (darkMode == 'dark') ? 'light' : 'dark'"
  id="toggle-theme"
  class="relative block h-7 w-7 p-1 text-black focus:ring-2 focus:ring-zinc-500"
>
  <Icon
    name="ph:sun"
    class="absolute left-0 top-0 w-7 opacity-0 transition-all dark:rotate-180 dark:opacity-100"
  />
  <Icon
    name="ph:moon"
    class="absolute left-0 top-0 w-7 rotate-0 opacity-100 transition-all dark:rotate-[-360deg] dark:opacity-0"
  />
</button>

<script is:inline>
  function setTheme() {
    if (localStorage.getItem("darkMode") === "dark") {
      document.querySelector("html").dataset.theme = "dark";
    }
    if (localStorage.getItem("darkMode") === "light") {
      document.querySelector("html").dataset.theme = "light";
    }
    if (!localStorage.getItem("darkMode")) {
      let theme = window.matchMedia("(prefers-color-scheme: dark)")
        ? "dark"
        : "light";
      localStorage.setItem("darkMode", theme);
    }
  }

  setTheme();
</script>
