---
import BaseHead from "@/components/BaseHead.astro";
const {
  title,
  description = "Yasaman Moussavi's webpage",
  image = "/placeholder-1.jpg",
} = Astro.props;

import { getEntry } from "astro:content";
import MainNav from "../components/MainNav.astro";

const setting = await getEntry("setting", "index");
const { bodyClasses = "" } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  x-data="{darkMode: localStorage.getItem('darkMode')}"
  x-bind:data-theme="darkMode"
>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class:list={[ bodyClasses]}>
    <MainNav />
    <slot />
  </body>
</html>
